--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_customuser; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.accounts_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(254),
    username character varying(150) NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(20) NOT NULL,
    gender character varying(10) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    is_provider boolean NOT NULL,
    profile_photo character varying(100)
);


ALTER TABLE public.accounts_customuser OWNER TO admin;

--
-- Name: accounts_customuser_groups; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.accounts_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_customuser_groups OWNER TO admin;

--
-- Name: accounts_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.accounts_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.accounts_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_stores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.accounts_customuser_stores (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    store_id bigint NOT NULL
);


ALTER TABLE public.accounts_customuser_stores OWNER TO admin;

--
-- Name: accounts_customuser_stores_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.accounts_customuser_stores ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_stores_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_customuser_user_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.accounts_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_customuser_user_permissions OWNER TO admin;

--
-- Name: accounts_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.accounts_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO admin;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO admin;

--
-- Name: flyers_country; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_country (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(255)
);


ALTER TABLE public.flyers_country OWNER TO admin;

--
-- Name: flyers_country_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_country ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_country_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_flyer; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_flyer (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    pdf character varying(100),
    created_at date NOT NULL,
    expires_at date NOT NULL,
    region_id bigint NOT NULL,
    store_id bigint NOT NULL,
    image character varying(100),
    slug character varying(255)
);


ALTER TABLE public.flyers_flyer OWNER TO admin;

--
-- Name: flyers_flyer_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_flyer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_flyer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_pendingflyer; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_pendingflyer (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    pdf character varying(100),
    image character varying(100),
    expires_at date NOT NULL,
    created_at date NOT NULL,
    region_id bigint,
    store_id bigint NOT NULL,
    slug character varying(255)
);


ALTER TABLE public.flyers_pendingflyer OWNER TO admin;

--
-- Name: flyers_pendingflyer_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_pendingflyer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_pendingflyer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_product; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    flyer_id bigint NOT NULL,
    image character varying(100),
    slug character varying(255)
);


ALTER TABLE public.flyers_product OWNER TO admin;

--
-- Name: flyers_product_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_providerapplication; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_providerapplication (
    id bigint NOT NULL,
    company_name character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(15) NOT NULL,
    gender character varying(10) NOT NULL,
    reviewed boolean NOT NULL,
    full_name character varying(100) NOT NULL,
    submitted_at timestamp with time zone NOT NULL,
    address text NOT NULL,
    document character varying(100) NOT NULL,
    gst_number character varying(50) NOT NULL,
    slug character varying(255)
);


ALTER TABLE public.flyers_providerapplication OWNER TO admin;

--
-- Name: flyers_providerapplication_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_providerapplication ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_providerapplication_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_region; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_region (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    country_id bigint NOT NULL,
    slug character varying(255)
);


ALTER TABLE public.flyers_region OWNER TO admin;

--
-- Name: flyers_region_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_region ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_region_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flyers_store; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flyers_store (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    logo character varying(100),
    provider_id bigint,
    slug character varying(255)
);


ALTER TABLE public.flyers_store OWNER TO admin;

--
-- Name: flyers_store_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flyers_store ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.flyers_store_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_customuser; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: accounts_customuser_groups; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.accounts_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_customuser_stores; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.accounts_customuser_stores (id, customuser_id, store_id) FROM stdin;
1	2	1
2	3	2
\.


--
-- Data for Name: accounts_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.accounts_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
3d1c67c5b8d5bfc2a258038d92544a51986ba674	2025-08-09 18:43:27.983118+00	2
ba98c60afa99a6120fbd60077a9a30f4634f7bfd	2025-08-09 18:57:51.255524+00	1
e6f1b40e4f42a28e426a66058389c2aec350b0a8	2025-08-09 19:02:59.279085+00	3
35b88fb4f1c872c5775b09548eb697784c27d613	2025-08-09 19:02:59.28307+00	4
ebccb5139f8f8e0b19cf7fe4533c8b125a506d57	2025-08-23 05:37:56.487532+00	6
67d80e0cd4d1902770db284dcc5d28ec987e1f39	2025-08-23 06:12:01.422765+00	7
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	authtoken	token
7	authtoken	tokenproxy
8	flyers	country
9	flyers	flyer
10	flyers	store
11	flyers	product
12	flyers	region
13	flyers	providerapplication
14	flyers	pendingflyer
15	accounts	customuser
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
qnl5kzh6icaemg6ildy4dkwg7incsbyz	.eJxVjEsOwjAMBe-SNYrqOj-xZM8ZKtsxpIASqZ9Vxd2hUhewfTPzNjPQupRhnXUaxmzOBszpd2OSp9Yd5AfVe7PS6jKNbHfFHnS215b1dTncv4NCc_nWEjhEQUDv0CHlGBImCDeJJD2CBsKg7KJ6z12OWTvAxNBDZCAhNe8Pzgs3ug:1unGL3:BBrkmLP6P7FiyM_eeWnE6GtZVpCCM3syopE4jhxQlK8	2025-08-30 12:48:49.96992+00
\.


--
-- Data for Name: flyers_country; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_country (id, name, slug) FROM stdin;
1	UAE	uae
2	INDIA	india
\.


--
-- Data for Name: flyers_flyer; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_flyer (id, title, pdf, created_at, expires_at, region_id, store_id, image, slug) FROM stdin;
1	lulu offer		2025-08-09	2025-08-19	1	1	flyers/images/lulu_offer.jpg	lulu-offer-kochi
2	lulu new		2025-08-09	2025-08-26	1	1	flyers/images/lulu_new.jpg	lulu-new-kochi
3	lulu 1	flyers/pdfs/lulu_1.pdf	2025-08-09	2025-08-30	1	1		lulu-1-kochi
4	Nestle offer		2025-08-09	2025-08-09	2	2	flyers/images/nestle_offer.jpg	nestle-offer-abu-dhabi
5	Nestle new	flyers/pdfs/nestle_new.pdf	2025-08-09	2025-09-20	2	2		nestle-new-abu-dhabi
\.


--
-- Data for Name: flyers_pendingflyer; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_pendingflyer (id, title, pdf, image, expires_at, created_at, region_id, store_id, slug) FROM stdin;
3	new things	pending_flyers/pdfs/ponkani_1_pN9VJCz.pdf		2025-08-23	2025-08-20	1	1	new-things-lulu
\.


--
-- Data for Name: flyers_product; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: flyers_providerapplication; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_providerapplication (id, company_name, email, phone, gender, reviewed, full_name, submitted_at, address, document, gst_number, slug) FROM stdin;
\.


--
-- Data for Name: flyers_region; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_region (id, name, country_id, slug) FROM stdin;
1	Kochi	1	kochi-uae
2	Abu Dhabi	1	abu-dhabi-uae
3	Istanbul	1	istanbul-uae
\.


--
-- Data for Name: flyers_store; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.flyers_store (id, name, logo, provider_id, slug) FROM stdin;
2	Nestle	store_logos/nestle.jpg	3	nestle
1	Lulu	store_logos/lulu.jpg	2	lulu
\.


--
-- Name: accounts_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.accounts_customuser_groups_id_seq', 1, false);


--
-- Name: accounts_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.accounts_customuser_id_seq', 7, true);


--
-- Name: accounts_customuser_stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.accounts_customuser_stores_id_seq', 2, true);


--
-- Name: accounts_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.accounts_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 20, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 47, true);


--
-- Name: flyers_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_country_id_seq', 2, true);


--
-- Name: flyers_flyer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_flyer_id_seq', 5, true);


--
-- Name: flyers_pendingflyer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_pendingflyer_id_seq', 3, true);


--
-- Name: flyers_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_product_id_seq', 57, true);


--
-- Name: flyers_providerapplication_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_providerapplication_id_seq', 1, false);


--
-- Name: flyers_region_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_region_id_seq', 3, true);


--
-- Name: flyers_store_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.flyers_store_id_seq', 2, true);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq UNIQUE (customuser_id, group_id);


--
-- Name: accounts_customuser_groups accounts_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_stores accounts_customuser_stores_customuser_id_store_id_de23e95c_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_stores
    ADD CONSTRAINT accounts_customuser_stores_customuser_id_store_id_de23e95c_uniq UNIQUE (customuser_id, store_id);


--
-- Name: accounts_customuser_stores accounts_customuser_stores_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_stores
    ADD CONSTRAINT accounts_customuser_stores_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_customuser_id_permission_9632a709_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_customuser_id_permission_9632a709_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: accounts_customuser_user_permissions accounts_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_customuser accounts_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser
    ADD CONSTRAINT accounts_customuser_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: flyers_country flyers_country_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_country
    ADD CONSTRAINT flyers_country_pkey PRIMARY KEY (id);


--
-- Name: flyers_country flyers_country_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_country
    ADD CONSTRAINT flyers_country_slug_key UNIQUE (slug);


--
-- Name: flyers_flyer flyers_flyer_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_flyer
    ADD CONSTRAINT flyers_flyer_pkey PRIMARY KEY (id);


--
-- Name: flyers_flyer flyers_flyer_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_flyer
    ADD CONSTRAINT flyers_flyer_slug_key UNIQUE (slug);


--
-- Name: flyers_pendingflyer flyers_pendingflyer_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_pendingflyer
    ADD CONSTRAINT flyers_pendingflyer_pkey PRIMARY KEY (id);


--
-- Name: flyers_pendingflyer flyers_pendingflyer_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_pendingflyer
    ADD CONSTRAINT flyers_pendingflyer_slug_key UNIQUE (slug);


--
-- Name: flyers_product flyers_product_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_product
    ADD CONSTRAINT flyers_product_pkey PRIMARY KEY (id);


--
-- Name: flyers_product flyers_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_product
    ADD CONSTRAINT flyers_product_slug_key UNIQUE (slug);


--
-- Name: flyers_providerapplication flyers_providerapplication_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_providerapplication
    ADD CONSTRAINT flyers_providerapplication_pkey PRIMARY KEY (id);


--
-- Name: flyers_providerapplication flyers_providerapplication_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_providerapplication
    ADD CONSTRAINT flyers_providerapplication_slug_key UNIQUE (slug);


--
-- Name: flyers_region flyers_region_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_region
    ADD CONSTRAINT flyers_region_pkey PRIMARY KEY (id);


--
-- Name: flyers_region flyers_region_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_region
    ADD CONSTRAINT flyers_region_slug_key UNIQUE (slug);


--
-- Name: flyers_store flyers_store_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_store
    ADD CONSTRAINT flyers_store_pkey PRIMARY KEY (id);


--
-- Name: flyers_store flyers_store_slug_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_store
    ADD CONSTRAINT flyers_store_slug_key UNIQUE (slug);


--
-- Name: accounts_customuser_groups_customuser_id_bc55088e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_groups_customuser_id_bc55088e ON public.accounts_customuser_groups USING btree (customuser_id);


--
-- Name: accounts_customuser_groups_group_id_86ba5f9e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_groups_group_id_86ba5f9e ON public.accounts_customuser_groups USING btree (group_id);


--
-- Name: accounts_customuser_stores_customuser_id_1d2dfc9b; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_stores_customuser_id_1d2dfc9b ON public.accounts_customuser_stores USING btree (customuser_id);


--
-- Name: accounts_customuser_stores_store_id_4d198ffb; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_stores_store_id_4d198ffb ON public.accounts_customuser_stores USING btree (store_id);


--
-- Name: accounts_customuser_user_permissions_customuser_id_0deaefae; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_user_permissions_customuser_id_0deaefae ON public.accounts_customuser_user_permissions USING btree (customuser_id);


--
-- Name: accounts_customuser_user_permissions_permission_id_aea3d0e5; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_user_permissions_permission_id_aea3d0e5 ON public.accounts_customuser_user_permissions USING btree (permission_id);


--
-- Name: accounts_customuser_username_722f3555_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX accounts_customuser_username_722f3555_like ON public.accounts_customuser USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: flyers_country_slug_32a60303_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_country_slug_32a60303_like ON public.flyers_country USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_flyer_region_id_4aa811a6; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_flyer_region_id_4aa811a6 ON public.flyers_flyer USING btree (region_id);


--
-- Name: flyers_flyer_slug_90db7ef2_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_flyer_slug_90db7ef2_like ON public.flyers_flyer USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_flyer_store_id_f5ab6122; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_flyer_store_id_f5ab6122 ON public.flyers_flyer USING btree (store_id);


--
-- Name: flyers_pendingflyer_region_id_dc97852f; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_pendingflyer_region_id_dc97852f ON public.flyers_pendingflyer USING btree (region_id);


--
-- Name: flyers_pendingflyer_slug_0a3d98ed_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_pendingflyer_slug_0a3d98ed_like ON public.flyers_pendingflyer USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_pendingflyer_store_id_f430863e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_pendingflyer_store_id_f430863e ON public.flyers_pendingflyer USING btree (store_id);


--
-- Name: flyers_product_flyer_id_2a8809fe; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_product_flyer_id_2a8809fe ON public.flyers_product USING btree (flyer_id);


--
-- Name: flyers_product_slug_5d2096d4_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_product_slug_5d2096d4_like ON public.flyers_product USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_providerapplication_slug_8d81ddad_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_providerapplication_slug_8d81ddad_like ON public.flyers_providerapplication USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_region_country_id_d5440a7e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_region_country_id_d5440a7e ON public.flyers_region USING btree (country_id);


--
-- Name: flyers_region_slug_ef4b93b3_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_region_slug_ef4b93b3_like ON public.flyers_region USING btree (slug varchar_pattern_ops);


--
-- Name: flyers_store_provider_id_cdae3855; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_store_provider_id_cdae3855 ON public.flyers_store USING btree (provider_id);


--
-- Name: flyers_store_slug_ba1ddbd2_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX flyers_store_slug_ba1ddbd2_like ON public.flyers_store USING btree (slug varchar_pattern_ops);


--
-- Name: accounts_customuser_user_permissions accounts_customuser__customuser_id_0deaefae_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__customuser_id_0deaefae_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_stores accounts_customuser__customuser_id_1d2dfc9b_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_stores
    ADD CONSTRAINT accounts_customuser__customuser_id_1d2dfc9b_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser__customuser_id_bc55088e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser__customuser_id_bc55088e_fk_accounts_ FOREIGN KEY (customuser_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_user_permissions accounts_customuser__permission_id_aea3d0e5_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_user_permissions
    ADD CONSTRAINT accounts_customuser__permission_id_aea3d0e5_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_groups accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_groups
    ADD CONSTRAINT accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_customuser_stores accounts_customuser_stores_store_id_4d198ffb_fk_flyers_store_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.accounts_customuser_stores
    ADD CONSTRAINT accounts_customuser_stores_store_id_4d198ffb_fk_flyers_store_id FOREIGN KEY (store_id) REFERENCES public.flyers_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_customuser_id FOREIGN KEY (user_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_flyer flyers_flyer_region_id_4aa811a6_fk_flyers_region_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_flyer
    ADD CONSTRAINT flyers_flyer_region_id_4aa811a6_fk_flyers_region_id FOREIGN KEY (region_id) REFERENCES public.flyers_region(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_flyer flyers_flyer_store_id_f5ab6122_fk_flyers_store_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_flyer
    ADD CONSTRAINT flyers_flyer_store_id_f5ab6122_fk_flyers_store_id FOREIGN KEY (store_id) REFERENCES public.flyers_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_pendingflyer flyers_pendingflyer_region_id_dc97852f_fk_flyers_region_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_pendingflyer
    ADD CONSTRAINT flyers_pendingflyer_region_id_dc97852f_fk_flyers_region_id FOREIGN KEY (region_id) REFERENCES public.flyers_region(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_pendingflyer flyers_pendingflyer_store_id_f430863e_fk_flyers_store_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_pendingflyer
    ADD CONSTRAINT flyers_pendingflyer_store_id_f430863e_fk_flyers_store_id FOREIGN KEY (store_id) REFERENCES public.flyers_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_product flyers_product_flyer_id_2a8809fe_fk_flyers_flyer_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_product
    ADD CONSTRAINT flyers_product_flyer_id_2a8809fe_fk_flyers_flyer_id FOREIGN KEY (flyer_id) REFERENCES public.flyers_flyer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_region flyers_region_country_id_d5440a7e_fk_flyers_country_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_region
    ADD CONSTRAINT flyers_region_country_id_d5440a7e_fk_flyers_country_id FOREIGN KEY (country_id) REFERENCES public.flyers_country(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: flyers_store flyers_store_provider_id_cdae3855_fk_accounts_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flyers_store
    ADD CONSTRAINT flyers_store_provider_id_cdae3855_fk_accounts_customuser_id FOREIGN KEY (provider_id) REFERENCES public.accounts_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO admin;


--
-- PostgreSQL database dump complete
--

